{% extends 'userhome.html' %}
{% block user %}
{% load static %}
<h1 class="text-center" style="text-align: center;">Change Password</h1>
<div class="jumborton">
<div class="card">
    <form action="" target="side" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-3 text-center"> <label class="form-label" for="{{form.image.id_for_label}}">Current Pssword:</label></div>
            <div class="col">
                <div class="form-outline mb-4">
                  {{form.current_password.error}} 
                  {{form.current_password}}
                  </div>
            </div>
        </div>   
        <div class="row">
            <div class="col-3 text-center"> <label class="form-label" for="{{form.image.id_for_label}}">New Password :</label></div>
            <div class="col">
                <div class="form-outline mb-4">
                  {{form.new_password.error}} 
                  {{form.new_password}}
                  </div>
            </div>
        </div>   
        <div class="row">
            <div class="col-3 text-center"> <label class="form-label" for="{{form.image.id_for_label}}">Confirm Password :</label></div>
            <div class="col">
                <div class="form-outline mb-4">
                  {{form.confirm_password.error}} 
                  {{form.confirm_password}}
                  </div>
            </div>
        </div>   
        <div class=" text-center">
          <button class="btn btn-info ">Submit</button>
        </div>
    </form>
</div>
</div>
{% endblock user %}