{% extends 'userhome.html' %}
{% block user %}
{% load static %}

<h1 class="text-center text-white" style=" letter-spacing: 1px;font-family:'Times New Roman', Times, serif;font-weight: bold;">Update Profile</h1>

<div class="row">
  
   
  <div class="col" style="border-right: solid white; height:fit-content;">
      <div class="card mr-1" style="width: 100%;" >
         
              <!-- <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5 " style="position: relative;left: 150pt;"> -->
                  <!-- <div class="text-center"> -->
                            <form style="width: 100%;" method="post">
                               {% csrf_token %}
                              <h3 class="fw-normal  text-center" style="letter-spacing: 1px;font-family: 'Times New Roman', Times, serif;font-weight: bold;">Update</h3>
                             <br>
                              <div class="row">
                              <div class="col">
                              

                                  <div class="row">
                                      <div class="col-6 text-center"><label class="form-label " for="{{form.first_name.id_for_label}}">Firstname:</label></div>
                                      <div class="col">
                                          <div class="form-outline mb-4" >
                                          {{form.first_name.error}} 
                                          {{form.first_name}}
                                        </div>
                                      </div>
                                  </div>                                               
                              </div>
                              <div class="col">
                                  <div class="row">
                                      <div class="col-3 text-center"> <label class="form-label" for="{{form.last_name.id_for_label}}">Lastname:</label></div>
                                      <div class="col">
                                          <div class="form-outline mb-4">
                                              {{form.last_name.error}} 
                                             
                                              {{form.last_name}}
                                            </div>
                                      </div>
                                  </div>   
                              </div>
                             </div>
                             <div class="row">
                              <div class="col-3 text-center"> <label class="form-label" for="{{form.gender.id_for_label}}">Gender:</label></div>
                              <div class="col">
                                  <div class="form-outline mb-4 relative" >
                                  {{form.gender.error}}                            
                                  {{form.gender}}
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-3 text-center"> <label class="form-label" for="{{form.usertype.id_for_label}}">UserType::</label></div>
                            <div class="col">
                                <div class="form-outline mb-4 relative" >
                                {{form.usertype.error}}                            
                                {{form.usertype}}
                              </div>
                            </div>
                        </div>
                              <div class="row">
                                  <div class="col-3 text-center"> <label class="form-label" for="{{form.address.id_for_label}}">Address:</label></div>
                                  <div class="col">
                                      <div class="form-outline mb-4 relative" >
                                      {{form.address.error}}                            
                                      {{form.address}}
                                    </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-3 text-center"><label class="form-label" for="{{form.place.id_for_label}}">Place:</label></div>
                                  <div class="col">
                                      <div class="form-outline mb-4">
                                          {{form.place.error}} 
                                          {{form.place}}
                                        </div>
                                  </div>
                              </div>
                                <div class="row">
                                  <div class="col">
                                      <div class="row">
                                      <div class="col-6 text-center"><label class="form-label" for="{{form.phone.id_for_label}}">Phone:</label></div>
                                      <div class="col"><div class="form-outline mb-4">
                                          {{form.phone.error}}                                
                                          {{form.phone}}
                                        </div>
                                      </div>                          
                                      </div>                          
                                  </div>
                                  <div class="col">
                                      <div class="row">
                                      <div class="col-3 text-center"><label class="form-label" for="{{form.email.id_for_label}}">Email:</label></div>
                                      <div class="col"><div class="form-outline mb-4">
                                          {{form.email.error}}                                
                                          {{form.email}}
                                        </div>
                                      </div>        
                                  </div>
                              </div>
                                </div>
                                <div class="row">
                                  <div class="col-3 text-center"><label class="form-label "  for="{{form.username.id_for_label}}">Username:</label></div>
                                  <div class="col">
                                      <div class="form-outline mb-4">
                                      {{form.username.error}} 
                                      {{form.username}}
                                    </div>
                                  </div>
                              </div>
          
                              <div class="row">
                                  <div class="col-3 text-center"><label class="form-label" for="{{form.password1.id_for_label}}">Password:</label></div>
                                  <div class="col">
                                      <div class="form-outline mb-4">
                                          {{form.password1.error}} 
                                          {{form.password1}}
                                        </div>
                                  </div>
                              </div>
          
                              <div class="row">
                                  <div class="col-3 text-center"><label class="form-label" for="{{form.password2.id_for_label}}">Confirm Password:</label></div>
                                  <div class="col">
                                      <div class="form-outline mb-4">
                                          {{form.password2.error}} 
                                          {{form.password2}}
                                        </div>
                                  </div>
                              </div>
          
                              <div class=" text-center">
                                <button class="btn btn-info ">Update</button>
                              </div>
                            </form>
                          </div>
                          </div>
                  
                        <!-- </div> -->
              
        
        </div>

  </div>
  <!-- <div class="col-2">
 <a href="" class="btn btn-warning">Edit Profile</a>
  </div> -->
</div>

{% endblock user %}