<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,1,200" /></head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,200" />
    <link rel="stylesheet" href="{% static 'css/leftnav.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
    <body >
      
      
      
      <!-- <link rel="stylesheet" href="{% static 'css/userhom.css' %}"> -->
      <nav id="leftnav" class="nav-menu navbar ">
        <header id="header" >
          <div class="d-flex flex-column " style="height: 750px;">
            <div class="profile-card mt-3" style="margin-left: 30px;">
              {% if request.user.p_pic.image %}

                <img class="card-img-top rounded-circle " src="{{ request.user.p_pic.image.url }}" alt="Card image cap" class="profile-photo" style="height: 150px;width: 150px;;">

                {% else %}

                <img class="card-img-top rounded-circle" src="{% static 'images/demo.png' %}" alt="Card image cap" style="height: 150px;width: 150px;">

                {% endif %}

                  <h2 ><a class="text-light mt-1" href="{% url 'upro' %}">{{ request.user.first_name}} {{ request.user.last_name}}</a></h2>  
            </div>
            <ul >
                <li>
                  <a href="{% url 'uh' %}" class="nav-link scrollto active text-light ">
                    <span class="material-symbols-outlined">home</span> 
                    <span class="ml-1"> Home</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'cart' %}" class="nav-link scrollto text-light ml-2"  >
                    <span class="material-symbols-outlined">shopping_cart</span> 
                    <span class="ml-1"> My Cart</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'mypur' %}" class="nav-link scrollto text-light ml-4">
                    <span class="material-symbols-outlined">order_approve</span> My Orders
                  </a>
                </li>
            <!-- <li><a href="#portfolio" class="nav-link scrollto text-light "><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
            <li><a href="#services" class="nav-link scrollto text-light "><i class="bx bx-server"></i> <span>Services</span></a></li> -->
            <!-- <li><a href="{% url 'logout' %}" class="nav-link scrollto text-light ml-1"><span class="material-symbols-outlined">
              logout
              </span><span>Log Out</span></a></li> -->
            </ul>
          </div>
        </header>
      </nav>
 
    <div class="box" style="" >
      <nav class="navbar   navbar-light sticky-top " style="position:relative sticky-top ;width: 100%;height: 80px;">
                    {% comment %} <img src="{% static 'images/logo.png' %}" alt="" height="60px"> {% endcomment %}
                        <h2 style="text-align: left; letter-spacing: 1px;font-family:fantasy;font-weight: bold; margin-left:36%;">The New Trends</h2>
                      <!-- <input type="text" placeholder="Search..">               -->
                      <div class="dropdown">
                        <button class="dropbtn" > <a class="nav-link text-light " href=""><span style="color:black;" class="material-symbols-outlined ">
                          manage_accounts
                          </span></a></button>
                        <div class="dropdown-content ">                      
                          <a class="nav-link " href="{% url 'delus' request.user.id %}">Delete My Account</a>
                          <a href="{% url 'cp'  %}" >Change Password</a>
                          <a href="{% url 'logout' %}"><span class="material-symbols-outlined">
                            logout
                            </span></a>
                        </div>
                      </div>
          </nav>    
       
          {% if messages %}
    {% for i in messages%}
     {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
     <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{i}}
     </div>
     {% endif %}
    {% endfor %}
  {% endif %}
        <!-- </div> -->
               
            {% block user %}
            <section class="ml-1 mt-1" style="background-color:rgba(173, 238, 238, 0.844);" >
  
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"  width="200px">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                </ol>
                
                <div class="carousel-inner" style="height: 650px;background:white; display:grid; place-content:center; ">
                  <div class="carousel-item active" style="margin-top:50px;">
                    <div style=" width:300px; height:400px; overflow:hidden; background-color:grey">
                      <img class="d-block w-40" src="{% static 'images/add1.jpg' %}" alt="First slide" style="margin-left: 0%; width: 100%;">
                    </div>
                  </div>
                  <div class="carousel-item" style="margin-top:50px;">
                    <div style=" width:300px; height:500px; overflow:hidden;">
                      <img class="d-block w-40" src="{% static 'images/add3.jpg' %}" alt="Second slide" style="margin-left: 0%; width: 100%;">
                    </div>
                  </div>
                  <div class="carousel-item" style="margin-top:50px;">
                    <div style=" width:300px; height:500px; overflow:hidden;">
                      <img class="d-block w-40" src="{% static 'images/add4.jpg' %}" alt="Third slide" style="margin-left: 0%;width: 100%;">
                    </div>
                  </div>
                  <div class="carousel-item" style="margin-top:50px;">
                    <div style=" width:300px; height:500px; overflow:hidden;">
                      <img class="d-block w-40" src="{% static 'images/add5.jpg' %}" alt="Third slide" style="margin-left: 0%; width: 100%;">
                    </div>
                  </div>
                  <div class="carousel-item" style="margin-top:50px;">
                    <div style=" width:300px; height:500px; overflow:hidden;">
                      <img class="d-block w-40" src="{% static 'images/add1.jpg' %}" alt="Third slide" style="margin-left: 0%; width: 100%;">
                    </div>
                  </div>
                  <div class="carousel-item" style="margin-top:50px;">
                    <div style=" width:300px; height:500px; overflow:hidden;">
                      <img class="d-block w-40" src="{% static 'images/coppy1.jpg' %}" alt="Third slide" style="margin-left: 0%; width: 100%;">
                    </div>
                  </div>
                
                </div>
                
                <a class="carousel-control-prev " href="#carouselExampleIndicators"  role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                  <span class="sr-only" >Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>     
              </section>
          
          <div>
            <div class="row" style="width: 100%;">
              {% for i in data %}
              <div class="col-lg-3 " >
                <div class="card mt-2 ml-1">         
                  <div class="card card-body">
                    <h4 class="card-title text-center">{{i.productname}}</h4>
                    <a class="" data-toggle="collapse" href="#j{{i.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                      <img src="{{ i.image.url }}" class="card-img-top" alt="..." height="200px" width="300px">
                      
                    </a>
                    <h5 class="card-title text-center">{{i.model}}</h5>
                  <div class="collapse" id="j{{i.id}}">
                    <ul class="list-group list-group-flush">
                     
                      <li class="list-group-item">color :{{i.color}}</li>
                      <li class="list-group-item">size :{{i.size}}</li>
                      <!-- <li class="list-group-item"> </li> -->
                    </ul>
                    </div>
                    <!-- <div class="card-body"> -->
                      <div class="row">
                        <div class="col">
                          <h5 class="card-text  text-center " style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;color: green;"  ><span class="material-symbols-outlined">
                            currency_rupee
                            </span>{{i.price}}</h5>
                        </div>
                        <div class="col">
                          {% if i.orginalprice %}
                          <h5 class="card-text  text-center  " style="font-family: Arial, Helvetica, sans-serif;font-weight:bold;text-decoration: line-through;"  ><span class="material-symbols-outlined">
                            currency_rupee
                            </span>{{i.orginalprice}}</h5>
                            {% endif %}
                        </div>
                      </div>
                      <div class="row mt-2">
                        
                        <div class="col">  <a href="{% url 'acart' i.id  %}" class="btn btn-block btn-info">Cart</a></div>
                        <div class="col"> <a href="{% url 'buy' i.id %}" class="btn btn-success btn-block">Buy</a></div>
                      </div>
                     
                     
                  </div>         
                  </div>
                  </div>  
                {% endfor %} 
                </div>
        </div>
       {% endblock user %}
          </div>  
         
    </body>
</html>




